{
  "rabbitmq": {
    "host": "{{ sensu_client_rabbitmq_host }}",
    "vhost": "{{ sensu_client_rabbitmq_vhost }}",
    "user": "{{ sensu_client_rabbitmq_username }}",
    "password": "{{ sensu_client_rabbitmq_password }}"
  }
}
